<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUBTL</title>
    <style>
        *{
            margin: 0;
        }
            body{
            display:flex;
            align-items:center;
            height:720px;
            background:linear-gradient(to right,white,rgb(199,255,193));
        }
        img{
            width: 1100px;
            z-index: -1;
            position: relative;
            left: 230px;

        }
        #btn{
            position: absolute;
            top: 470px;
            display: flex;
            align-items: center;
            justify-content: center;
            width:1100px
        }
        button{
            outline: none;
            box-shadow: none;
            border: solid 4px #89e5a1;
            height: 40px;
            width: 200px;
            font-size: larger;
            border-radius: 8px;
            background-color:rgba(0, 0, 0, 0) ;
            color: rgb(0, 0, 0);
            cursor: pointer;
            position: relative;
            left: 220px;
        }
    </style>
</head>
<body>
    <div>
    <img src="/subtl_black.png" alt="logo">
    <div id="btn">
    <button class="btn"><b><a href="/login" style="color: black;text-decoration: none;">ENTER STORE</a></b></button>
    </div>
    </div>
    <script>
        const btn = document.querySelector(".btn")
    </script>
</body>
</html>